<style>
    .header{
        background-color:navajowhite;
        display:flex;
        align-items:center;
        justify-content:center;
        margin:-8px;
        margin-top:-8px;
        height:15vh;
    }

    #head-text{
        font-size:50px;
    }
</style>

<body>
    <div class="header">
        <h1 id="head-text">Moth Catalog</h1>
    </div>
</body>

