<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moth Info Page</title>

    <style>

        body{background-color:rgb(210, 174, 130)}

        .moth-img{
            height:500px;
            border:3px solid black;
            border-radius:15px;
            margin-left:15%;
            margin:8px;
        }

        .return{
            display:flex;
            align-items:end;
            justify-content:center;
            text-decoration:none;
            color:blanchedalmond;
            height:100%;
        }
        .return-img{
            transition:ease 0.5s;
            opacity: 0.3;
            width:50px;
            height:50px;
            margin:25px;
        }
        .return-img:hover{
            transform:scale(125%);
            opacity: 1;
        }

        .info-cont{
            display:grid;
            grid-template-columns:auto auto auto;
            justify-content:left;
            column-gap:3%;
            background-color:blanchedalmond;
            border:3px solid black;
            border-radius:15px;
            margin:8px;

            width:90%;
        }

        .info{
            width:auto;
            text-overflow:clip;
            background-color:navajowhite;
            padding:5%;
            border:3px solid black;
            border-radius:15px;
            height:fit-content;
            margin-top:30px;
        }
        
        #card-cont{
            display:flex;
        }

        #label{margin:8px;}

    </style>

</head>
<body>



    <div id="label">
        <h1><%= moth.name %></h1>
        <h2><i>Scientific Name: <%= moth.sciname %></i></h2>
    </div>
    
    <div id="card-cont">
        <div class="info-cont">
            <p><img class="moth-img" src=" /images/<%= moth.image %>"></p>
            <p class="info"><b>Physical Description:</b><br> <%= moth.about %></p>
            <a class="return" href="/"><img class="return-img" src="/images/return.png"></a> 
        </div>
    
           
    </div>
    
</body>
</html>